
/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/* 
get rid of padding & sizing on body so
header is at top
*/

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    background-color: #333;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2.5em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: whitesmoke;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label span::before {
    bottom: 12px;
}

.nav-toggle-label span::after {
    top: 12px;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo img {
    height: 14vw;
    width: 14vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-bottom: 1em;
    margin-left: 1em;
}

/*  
style all a tags in header 
and then on hover
*/

.navbar-links a {
    color: whitesmoke;
    background-color: #333;
    font-size: 2rem;
    padding: 1.5rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;
    outline: none;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 60rem) {
    /* .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: scale(1,1);
        top: 0;
        transition: none;
    }

    .navbar-links a {
        color: whitesmoke;
        background-color: #333;
        font-size: 2rem;
        padding: 1.5rem 1.25rem;
        letter-spacing: 2px;
        text-decoration: none;
        display: inline-block;
        text-transform: capitalize;
        opacity: 1;
        transition: none;
    }

    .navbar-links li {
        margin-bottom: 0em;
        margin-left: 0em;
    }
    .navbar ul {
        display: flex;
        justify-content: space-between;
        height: 75px;
        align-items: center;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo img {
        height: 8vw;
        width: 8vw;
        z-index: 1000;
    }

    .logo h1 {
        z-index: 1000;
        font-size: 1.2em;
    }
}