        body {
            font-family: "Smooch Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            background-color: #3D4C85;
            color: #FF8914;
            font-weight: bold;
        }

        h1, h2, h3, h4, h5 {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 20pt;
            text-align: center;
        }

        header {
            text-align: center;
        }

        #hero {
            border-radius: 25px;
            text-align: center;
            background-color: #80734A;
            padding: 10px;
            color: #FFCA15;
            border: 5px solid #8C868C;
        }

        #hero img {
            width: 300px;
        }

        #bio {
            text-align: center;
        }

        footer {
            border-radius: 25px;
            text-align: center;
            background-color: #80734A;
            padding: 10px;
            color: #FFCA15;
            border: 5px solid #8C868C;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }

            ul li {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            border-radius: 12px;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition: transform 0.3s ease, border-color 0.3s ease;
            cursor: pointer;
        }

            ul li:hover {
            transform: translateY(-5px);
            border-color: #007bff;
        }

        #gallery {
            border: 2px solid #8C868C;
        }

        #gallery img {
            max-width: 100%;
            border-radius: 25px;
        }

        #gallery figure {
            text-align: center;
        }




