        body {
            font-family: "Smooch Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            background-color: #3D4C85;
            color: #FF9C3D;
            font-weight: bold;
            font-size: 24px;
        }

        h1, h2, h3, h4, h5 {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 42pt;
            text-align: center;
        }

        h2 {
            margin: 0.1em;
        }

        section #hobbies {
            display: flex; 
            flex-direction: column; 
            align-items: center;
        }

        header {
            text-align: center;
        }

        #hero {
            border-radius: 25px;
            text-align: center;
            background-color: #80734A;
            padding: 10px;
            color: #FFD831;
            border: 5px solid #8C868C;
        }

        #hero img {
            width: 300px;
        }

        #bio {
            margin: 2em 2em 2em 2em;
        }

        #bio h2 {
            margin-top: 1em;
        }

        footer {
            border-radius: 25px;
            text-align: center;
            background-color: #80734A;
            padding: 25px 0px 0px 0px;
            color: #FFD831;
            border: 5px solid #8C868C;
            margin: 0em 1em 1em 1em;
        }

        footer p {
            margin: 0.5em 0em 1em 0em;
        }

        footer a:link {
            color: #FFD831;
        }

        footer a:visited {
            color: #3D4C85;
        }

        footer a:hover {
            color: #FF9C3D; 
        }

        footer a:active {
            color: red;
        }

        #hobbies ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 2em 2em 2em 2em;
        }

        #hobbies ul li {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            border-radius: 12px;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition: transform 0.3s ease, border-color 0.3s ease;
            cursor: pointer;
        }

        #hobbies ul li:hover {
            transform: translateY(-5px);
            border-color: #007bff;
        }

        #gallery {
            border: 2px solid #8C868C;
            padding: 45px;
        }

        #gallery img {
            max-width: 100%;
            border-radius: 25px;
        }

        #gallery img:hover {
            transform: translateY(-5px);
            border-color: #FF9C3D;
            border-width: 3px;
            border-style: solid;
            margin: 0px 0px -6px 0px;
        }

        #gallery figure {
            text-align: center;
        }

        #blog {
            border: 2px solid #8C868C;
            padding: 45px;
            background-image: url('../img/pexels-enginakyurt-1435752.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-origin: border-box;
            background-clip: padding-box;
        }

        #blog h2 {
            font-size: 36px;
        }

        #blogtext {
            background-image: url('../img/pexels-padrinan-255379.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-origin: border-box;
            background-clip: text;
            color: transparent;
        }

        #lit div p:first-child::first-letter {
            float: left; /* Floats the first letter to the left */
            font-size: 3em; /* Makes the font size three times larger than the base paragraph font size */
            line-height: 1; /* Sets the line height to prevent extra space around the large letter */
            margin-right: 0.1em; /* Adds a small margin to the right of the drop cap */
            font-weight: bold; /* Makes the drop cap bold */
            color: #FFD831;
        }

        #myVideo {
            aspect-ratio: 16 / 9;
            display: block; /* iframe is inline by default, change to block for margin: auto to work */
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5em;
            border-radius: 25px;
            width: 100%;
            height: auto;
        }

        #video h2 {
            margin: 1em 1em 1em 1em;
        }

        #video figcaption {
            text-align: center;
        }

        /* Contact Form */
        #formElements {
            display: grid;
            row-gap: 0.25em;
        }

        #contact {
            padding: 1rem;
            max-width: 600px;
            margin: 2rem auto;
        }

        fieldset {
            border: 2px solid #FFD831;;
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 25px;
        }

        #con {
            margin-bottom: 0em;
        }

        legend {
            background-color: #80734A;
            color: #FFD831;
            font-size: 1.5rem;
            padding: 0.5em;
        }

        #contact label {
            font-size: 1.5rem;
        }

        #contact input, #contact textarea, #contact select, #contact button {
            padding: 0.5em;
            font-size: 1rem;
        }

        #contact ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }

        #contact button {
            background-color: #80734A;
            color: #FFD831;
            font-size: 1.5rem;
            padding: 0.5em;
            border: 1px solid #FF9C3D;
            max-width: 400px;
            justify-self: center;
            width: 50%;
        }

        /* Tablet size */
        @media screen and (min-width: 60em) {
            figure {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }
            figcaption {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                margin-left: 1rem;
            }

            figure img {
                width: 100%;
            }

            #lit div {
                max-width: 100%;
                columns: 20rem;
            }
        }

        /* Large screen size */
        @media screen and (min-width: 60em) {

            body {
                font-size: 42px;
            }

            #gallery {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
            }

            hr {
                display: none;
            }

            #gallery h2 {
                grid-column: 1/-1;
            }

            figure {
                display: block;
            }
        }



